<div id="links-container">
	<div id="links-github" class="links-item">
		<a href="https://github.com/mgeaghan" target="_blank">
			<img src="/assets/graphics/GitHub-Mark/PNG/GitHub-Mark-Light-120px-plus.png" alt="GitHub" class="links-img">
		</a>
	</div>
	<div id="links-github-pages" class="links-item">
		<a href="https://mgeaghan.github.io/" target="_blank">
			<img src="/assets/graphics/githubpages.inv.png" alt="github pages" class="links-img">
		</a>
	</div>
	<div id="links-twitter" class="links-item">
		<a href="https://twitter.com/michaelg392" target="_blank">
			<img src="/assets/graphics/twitter.png" alt="twitter" class="links-img">
		</a>
	</div>
	<div id="links-linkedin" class="links-item">
		<a href="https://www.linkedin.com/in/michael-geaghan-796755137/" target="_blank">
			<img src="/assets/graphics/linkedin.png" alt="linkedin" class="links-img">
		</a>
	</div>
</div>