#about-me-component {
	/* min-height: 100vh; */
	background-color: var(--col-dark-red);
}

#about-me-content {
	padding: 10px;
	width: 50vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
}

h2 {
	text-align: center;
}

#profile-pic-1 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin: 30px;
}

.about-me-paragraph {
	margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
	#profile-pic-1 {
		width: 75%;
		height: auto;
		float: none;
		display: block;
		margin: 10px auto 10px auto;
	}
}

@media screen and (max-width: 600px) {
	#about-me-content {
		width: 75vw;
	}
}

@media screen and (max-width: 300px) {
	#profile-pic-1 {
		width: 100%;
	}
}