#about-me-component {
	min-height: 100vh;
	background-color: rgb(62, 76, 83);
}

#about-me-content {
	padding: 10px;
}

h2 {
	text-align: center;
}

#profile-pic-1 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin: 10px 30px 10px 10px;
}