:host {
	--topbar-height: 60px;
}

#top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(24, 25, 26);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: var(--topbar-height);
}

#nav-links {
	display: flex;
	justify-content: flex-end;
	min-height: var(--topbar-height);
	margin: 0;
}

.top-bar-link,
.top-bar-link:visited,
.top-bar-link:hover {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: var(--topbar-height);
	font-size: 1.2em;
	font-weight: bold;
	color: var(--main-color);
	text-decoration: none;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.top-bar-link:hover {
	color:var(--col-blue);
	background-color: rgba(255, 255, 255, 0.1);
}

.title-link,
.title-link:visited,
.title-link:hover {
	color: var(--col-yellow);
	font-size: 1.4em;
}

#top-bar-spacer {
	min-height: var(--topbar-height);
}
